body {
	/*background-image: url(../../../media/images/backgroundPic.png);*/
	/*background-size: cover;*/
	/*background-position: center;*/
	/*background-repeat: no-repeat;*/
	/*margin-top:150px;*/
}

canvas {
	width: 100%;
	height: auto /*默认全屏显示 可自己设置高度640px*/;
	display: inline-block;
	vertical-align: baseline;
	position: absolute;
	top: 0px;
	z-index: -1;
}


#checkCodeImg:hover{
	cursor: pointer;
}