body {
	background-image: url(../../../media/images/backgroundPic.png);
	background-size: cover;
	/*background-position: center;*/
	background-repeat: no-repeat;
	margin-top:150px;
}

#checkCodeImg:hover{
	cursor: pointer;
}